.dataviews-view-table {
    tr td:first-child, tr th:first-child {
        padding-left: 10px;
    }
    
    tr td:last-child, tr th:last-child {
        padding-right: 10px;
    }
}

.dataviews__view-actions, .dataviews-filters__container, .dataviews-footer {
    padding-inline: 10px;
}